body {
    background: rgb(200, 240, 209);
    margin-top: 25rem;
    margin-bottom: 25;
    margin-left: 25rem;
    margin-right: 25rem;
}
article {
    text-align: center;
    align-items: center;
}
article {
    border-radius: 5rem;
    background: rgb(220, 240, 239)
}
.text {
    font-size: 10rem;
}
@media  screen and (min-width: 375px) { 
    .text {
        font-size: 3rem;
    }

    .love {
        text-align: right;
    }

    body {
        margin-top: 10rem;
        margin-bottom: 10rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    article {
        border-radius: 2rem;
        padding: 5rem 2rem 2rem 2rem;
    }
}